/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FBF7EA;
    color: #333;
}

/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

header nav ul li img{
    width: 50px;
    height: auto;
    border-radius: 50%; /* Rounded logo */
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s;
}
header nav ul li a:hover {
    color: #506391;
}


/* Estilos para el encabezado */
header {
    background: #D2D240;
    color: black;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li img {
    height: 30px; /* Ajusta el tamaño del logo */
}

/* Estilos para el título principal */
main > div {
    text-align: center;
    margin: 20px 0;
}


.Unirse-Junto {
    background-color: #307FD9;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

h1 {
    color: #ffffff;
}

/* Estilos para el formulario */
.formulario {
    background: #FBF7EA;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 500px; /* Máximo ancho del formulario */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #7994A4;
    border-radius: 5px;
}

.camara {
    display: flex;
    flex-direction: column;
    align-items: center;       /* Centrado horizontal */
    justify-content: center;   /* Centrado vertical */
    text-align: center;
}
.camara h2 {
    margin-bottom: 20px;
}
.camara img {
    margin-bottom: 20px;
    max-width: 100%;
}

.camara input[type="submit"] {
    background: #506391;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.camara input[type="submit"]:hover {
    background: #0056b3;
}



/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #D2D240;
    color: black;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    justify-content: center;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}





footer .contactanos {
    display: flex;
    gap: 30px;
    color: rgb(0,0,0);

}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
    color: black;
}

footer .boton-contacto button {

    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}